@use '../helpers' as *;
.banner {
    padding-bottom: rem(40);

  &__section {
    margin-top: rem(170);

    @include tablet {
      margin-top: 0;
    }
  }

  &__container {
    display: flex;
    position: relative;
    height: rem(400);
  }

  &__slider {
    display: flex;
    margin: 0 auto;
  }

  &-image {
    display: block;
    width: 100%;
    height: auto;
    background: var(--color-light1);
    border-radius: rem(8);
  }

  &__image {
    max-height: rem(400);
    user-select: none;


      &-wrapper {
        gap: rem(100);
        display: flex;
        transition: transform 0.3s ease;

        @include tablet {
          gap: rem(0); 
        }
      }
  }

  &__play {
    &-circle {
        top: -45%;
        left: 50%;
        width: rem(100);
        height: rem(100);
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(rem(3));
        cursor: pointer;
        transition: transform 0.2s ease, background 0.3s ease;
  
        @include hover {
        transform: translate(-50%, -50%) scale(1.1);
        background: rgba(255, 255, 255, 0.5);
        }

        @include mobile {
            top: -43%;
        }  

        @include mobile {
            width: rem(70);
            height: rem(70);
        }
    }
    
    &-icon {
        width: rem(19);
        height: rem(22);
        margin-left: rem(5);
        
    }
}

  .slider-arrow {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: rem(44);
    height: rem(44);
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: background 0.3s ease;
    border: none;
    
    @include hover {
      color: var(--color-hover);
    }

    &--left {
      color: var(--color-light);
      left: rem(5);
    }

    &--right {
      color: var(--color-light);
      right: rem(5);
    }

  }
}

  

