@use '../helpers' as *;


.delivery-payment-guarantee {
    padding: 2rem 0;
  
    .dp-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  
    .dp-section {
      border-radius: 0.5rem;
      overflow: hidden;
  
      .dp-header {
        display: flex;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
  
        .dp-number {
          font-size: 1.2rem;
          color: var(--color-dark);
          margin-right: 1rem;
          width: 2rem;
          text-align: center;
        }
  
        .dp-title {
          font-size: 1.5rem;
          color: var(--color-dark);
          margin: 0;
          flex: 1;
        }
  
        .dp-arrow {
          width: rem(43);
          height: rem(43);
          background-color: var(--color-light);
          border-radius: 0.5rem;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.3s, transform 0.3s;

  
          &.dp-arrow-open {
            background-color: var(--color-dark);
            rotate: -90deg;
  
            svg {
              path {
                stroke: var(--color-light);
              }
            }
          }
        }
      }
  
      .dp-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
  
        p, ul {
          padding: 0 1rem 1rem 1rem;
          margin: 0;
        }
  
        ul {
          list-style-type: disc;
          padding-left: 1rem;
  
          li {
            margin-bottom: 0.2rem;
          }
        }
      }
  
      &.open .dp-content {
        max-height: 500px; /* Установите значение, достаточное для отображения всего содержимого */
      }
    }
  }
  