@use '../helpers' as *;


.reviews {
  padding-block: rem(64);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: rem(16);
    margin-bottom: rem(32);
  }

  &__title {
    font-size: rem(48);
    font-weight: 700;
    color: var(--color-dark);
    margin-bottom: rem(32);
    text-transform: uppercase;
  }

  &__slider {
    display: flex;
    gap: rem(24);
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    @include mobile {
      flex-direction: column;
    }


  }

  &__card {
    flex: 0 0 auto;
    scroll-snap-align: start;
    background: var(--color-light1);
    border-radius: rem(12);
    padding: rem(20);
    display: flex;
    gap: rem(16);
    max-width: rem(520);
    min-width: rem(300);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    @include mobile {
      max-width: 100%;
      width: 100%;
    }
  }

  &__image {
    width: rem(80);
    height: auto;
    max-height: rem(123);
    border-radius: rem(8);
    object-fit: cover;
    flex-shrink: 0;
    transition: scale 0.3s ease;

    @include hover {
      scale: 1.8;
      z-index: 10;
    }

    @include mobile {
      scale: 1;
    }
  }

  &__text {
    font-size: rem(14);
    color: var(--color-dark);
    line-height: 1.5;
  }


  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(32);
  }

  &__view-all {
    @include fluid-text(20, 16);
    color: var(--color-dark);
    font-weight: 700;
    text-decoration: underline;
  }

  &__button {
    width: 97%;    

    @include tablet {
      width: 94%;
    }

    @include mobile {
      width: 92%;
    }
  }
}
