@use '../helpers' as *;


.selection {
    padding: rem(64) 0;
  
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(32);
  
      @include mobile {
        grid-template-columns: 1fr;
      }
    }
  
    &__visual {
      border-radius: rem(16);
      overflow: hidden;
    }
  
    &__image {
      height: auto;
      object-fit: cover;
    }

  
    &__form {
      background-color: var(--color-light1);
      padding: rem(60) rem(24) 0;
      border-radius: rem(16);
      display: flex;
      flex-direction: column;
      gap: rem(16);
  
      input {
        padding: rem(12);
        border: none;
        border-radius: rem(8);
      }
  
      &__checkbox {
        display: flex;
        font-size: rem(12);
        gap: rem(8);
        align-items: flex-start;
        }
    }

    &__span {
        @include fluid-text(18, 12);
    };

    &__href {
        font-weight: 700;
        color: var(--color-dark);
      
    }
  }
  