@use 'helpers' as *;

body {
  font-family: var(--font-family-base);
  color: var(--color-grey);
  background-color: var(--color-light);
  min-width: rem(330);
  flex-direction: column;
  cursor: default;
  display: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark);
  font-weight: 700;

}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-base);
  
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600;
}

h1, .h1 {
  @include fluid-text(48, 24);
  text-transform: uppercase;
  line-height: 1.1;
}


h2, .h2 {
  @include fluid-text(20, 18);

  line-height: 1.3;
}

h3, .h3 {
  @include fluid-text(40, 24);
}

h4, .h4 {
  @include fluid-text(26, 18);
  line-height: 0;
}

h5, .h5 {
  @include fluid-text(24, 18);
}

h6, .h6 {
  @include fluid-text(20, 16);
}

p {
  --paragraphMarginBottom: #{rem(10)};
  line-height: 1;
}


a {
  color: inherit;
  text-decoration: none;

  @include hover {
    color: var(--color-hover);
  }


  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(1) solid var(--color-light);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;
  }
}


